@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2021-04-10 15:09:54
 * @version $Id$
 */

.box{
	margin: auto;
	width: 1150px;
	height: 730px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	background:ghostwhite;
	display: flex;
}

.sbox{
	flex-direction: column;
	width: 370px;
	height: 357px;
	display: flex;
	/*background: green;*/
}

.img{
	width: 370px;
	height: 250px;
}

.info{
	width: 370px;
	height: 110px;
	background: white;
}

.name{
	width: 350px;	
	height: 20px;
	margin: 10px;
	display: flex;
	background: white;
	font-size: 15px;
	font-weight: bold;
	align-content: center;

}

.t{
	width: 350px;	
	height: 20px;
	margin: 10px;
	display: flex;
	background: white;
	font-size: 14px;
	font-weight: bold;
	align-content: center;
}

.t1{
	color: red;
}

.color{
	margin-left: 5px;
	color: gray;
}

.price{
	height: 30px;
	width: 350px;
	margin: 10px;
	display: flex;
	background: white;
	font-size: 15px;
	font-weight: bold;
	align-items: center;
	justify-content: space-between;

}
.num{
	align-items: center;
	width: 350px;
	display: flex;
}

.f1{
	align-self: baseline;
	color: red;
	font-size: 27px;
	font-weight: bold;
}

.f2{
	margin-left: 10px;
	align-self: baseline;
	text-decoration: line-through;
	color: gray;
	font-size: 15px;
	font-weight: bold;
}

.sale{
	display: flex;
	align-self: flex-end;
    justify-content: flex-end;
    margin: 0;
    width: 1000px;
    color: gray;
    margin-right: 5px;
}

.f3{
	color: red;
}
