@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2021-03-12 15:10:22
 * @version $Id$
 */
.m-example{
 	opacity: 0;
 	top: 0;
}

.background{
	position: absolute;
	background:#888;
	top:8px;
	left: 10px;
	width:480px;
	height:700px;
	z-index: -1;
}

.box{
	position: absolute;
	top: 10px;
	left: 10px;
	height: 89px;
	width:445px;
    margin-top: 2px;
    padding-left: 15px;
    background: white;
/*    border:1px solid #666;*/
    color: #fff;
   /* z-index:-2;*/
}


.s1{
	position: absolute;
	top: 14px;
	left: 65px;
	font-size: 21.5px;
	color:#d25422;
	/*z-index:-1;*/
}

.s2{
	position: absolute;
	top: 41px;
	left: 45px;
	font-size: 18px;
	color: #000;
	/*z-index:-1;*/
}

.s3{
	position: absolute;
	top: 14px;
	left: 170px;
	font-size: 21.5px;
	color:#d25422;
	/*z-index:-1;*/
}

.s4{
	position: absolute;
	top: 41px;
	left: 150px;
	font-size: 18px;
	color:#000;
	/*z-index:-1;*/
}

.s5{
	position: absolute;
	top: 14px;
	left: 275px;
	font-size: 21.5px;
	color:#d25422;
	/*z-index:-1;*/
}

.s6{
	position: absolute;
	top: 41px;
	left: 255px;
	font-size: 18px;
	color:#000;
	/*z-index:-1;*/
}

.s7{
	position: absolute;
	top: 14px;
	left: 380px;
	font-size: 21.5px;
	color:#d25422;
	/*z-index:-1;*/
}

.s8{
	position: absolute;
	top: 41px;
	left: 360px;
	font-size: 18px;
	color:#000;
	/*z-index:-1;*/
}

.box1{
	position: absolute;
	top: 98px;
	left: 10px;
	height: 40px;
	width:460px;
    margin-top: 2px;
    background: #ffe4dd;
    color: red;
 /*   border:  1px solid #666;*/
    display: flex;
  	align-items: center; 
 	justify-content: center;
 	font-size: 19px;
}

.box2{
	position: absolute;
	top: 135px;
	left: 10px;
	height: 70px;
	width:460px;
    margin-top: 2px;
    background: #fff;
    color: #f3402a;
    /*border:  1px solid #666;*/
    display: flex;
  	align-items: center; 
 	justify-content: center;
 	font-size: 19px;
}

.s1-1{
	position: absolute;
	top: 26px;
	color: #000;
	left:37px;
}

.s1-2{
	position: absolute;
	top:26px;
	left:120px;
	color: #000;
}

.s1-3{
	position: absolute;
	top:26px;
	left:200px;
	color: #000;
	border-bottom: 4px solid #df5236;
	padding-bottom: 5px
}

.s1-4{
	position: absolute;
	top:26px;
	left:290px;
	color: #000;
}

.s1-5{
	position: absolute;
	top:26px;
	left:380px;
	color: #000;
}

.box3{
	position: absolute;
	top: 205px;
	left: 10px;
	height: 103px;
	width:460px;
    margin-top: 2px;
    background: #fff;
    color: #f3402a;
    /*border:  1px solid #666;*/
    display: flex;
  	align-items: center; 
 	justify-content: center;
 	font-size: 19px;
}

.s2-1{
	position: absolute;
	top:12px;
	left: 15px;
	color: orange;
}

.s2-2{
	position: absolute;
	top:12px;
	left:225px;
	color: orange;
}

.s2-3{
	position: absolute;
	top:53px;
	left:18px;
	color:black;
}

.s2-4{
	position: absolute;
	top:53px;
	left:225px;
	color:black;
}

.box4{
	position: absolute;
	top: 312px;
	left: 10px;
	height: 120px;
	width:108px;
    margin-top: 2px;
    background: #fff;
    border-left:  2px solid orange;
    border-right:  2px solid orange;
    border-top:  2px solid orange;

}

.box5{
	position: absolute;
	top: 312px;
	left: 127px;
	height: 119px;
	width:110px;
    margin-top: 2px;
    background: #fff;

}

.box6{
	position: absolute;
	top: 312px;
	left: 242px;
	height: 119px;
	width:110px;
    margin-top: 2px;
    background: #fff;

}


.box7{
	position: absolute;
	top: 312px;
	left: 358px;
	height: 119px;
	width:110px;
    margin-top: 2px;
    background: #fff;

}


.box8{
	position: absolute;
	top: 431.5px;
	left: 10px;
	height: 245px;
	width:455px;
    margin-top: 2px;
    background: #fff;
	border-left:  2px solid orange;
    border-right:  2px solid orange;
    border-top:  2px solid orange;
    border-bottom:  2px solid orange;
    z-index: -1;
}

.p1{
	position: absolute;
	width: 30px;
	height: 50px;
	top:13px;
	left: 40px;
}

.s3-1{
	position: absolute;
	top:73px;
	left: 26px;
	color: orange;
	font-size: 18px;
}

.p2{
	position: absolute;
	width: 50px;
	height: 50px;
	top:18px;
	left: 25px;
}

.s3-2{
	position: absolute;
	top:73px;
	left: 35px;
	font-size: 18px;
}

.p3{
	position: absolute;
	width: 50px;
	height: 50px;
	top:20px;
	left: 30px;
}

.s3-3{
	position: absolute;
	top:73px;
	left: 35px;
	font-size: 18px;
}

.p4{
	position: absolute;
	width: 50px;
	height: 40px;
	top:20px;
	left: 30px;
}

.s3-4{
	position: absolute;
	top:73px;
	left: 35px;
	font-size: 18px;
}

.s4-1{
	color: orange;
	position: absolute;
	top: 17px;
	left: 38px;
	font-size: 18px;
}

.s4-2{
	position: absolute;
	top: 17px;
	left:134px;
	font-size: 18px;
}

.s4-3{
	position: absolute;
	top: 17px;
	left:228px;
	font-size: 18px;
}

.s4-4{
	position: absolute;
	top: 17px;
	left:325px;
	font-size: 18px;
}

.s4-5{
	position: absolute;
	top: 146px;
	left:28px;
	font-size: 18px;
}

.s4-6{
	position: absolute;
	top: -2px;
	left:427px;
	font-size: 32px;
}

.s4-7{
	color: orange;
	position: absolute;
	top: 146px;
	left:93px;
	font-size: 21.5px;
}

.box9{
	position: absolute;
	top:55px;
	left:22px;
	font-size: 19px;
	color:#888;
	border:1.5px solid #666;
	box-sizing: border-box;
	width:302px;
	display: flex;
	align-items: center; 
	/*justify-content: center;*/
	height: 44px;
}

.box10{
	position: absolute;
	top:97px;
	left:22px;
	font-size: 19px;
	border:1.5px solid #666;
	box-sizing: border-box;
	width:302px;
	display: flex;
	align-items: center; 
	/*justify-content: center;*/
	height: 40px;
	z-index: -1;
}

.box11{
	position: absolute;
	top:183px;
	left:22px;
	font-size: 19px;
	background:#fc421c;
	box-sizing: border-box;
	width:108px;
	display: flex;
	align-items: center; 
	justify-content: center;
	height: 42px;
	color: white;
	z-index: -1;
}

